<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" class="fw700">Mi Movistart</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="light">
      <ion-text color="dark">(01) 2887746 Trio</ion-text>
    </ion-item>
  </ion-card>

  <ion-content padding offset-bottom>
    <div text-center class="text-invoice">
      <ion-text color="medium">Lista de </ion-text>
      <ion-text color="dark">Recibos </ion-text>
      <ion-text color="medium"> aquí</ion-text>
    </div>


    <eve-st-alert color="info" borderradius="10px" type="outline">
      <div class="alert_arrow">
        <ion-icon class="alert_icon" name="cloud-download"></ion-icon>
      </div>
      <div class="alert_body">
        <div class="alert_title">Marzo 2019</div>
        <div class="alert_text">Pagado 04 de Agosto</div>
      </div>
      <div class="alert_amount">
        S/199.98
      </div>
    </eve-st-alert>

    <eve-st-alert color="info" borderradius="10px" type="outline">
        <div class="alert_arrow">
          <ion-icon class="alert_icon" name="cloud-download"></ion-icon>
        </div>
        <div class="alert_body">
          <div class="alert_title">Marzo 2019</div>
          <div class="alert_text">Pagado 04 de Septiembre</div>
        </div>
        <div class="alert_amount">
          S/199.98
        </div>
      </eve-st-alert>
  </ion-content>


  <!-- <popmenu></popmenu> -->
</ion-content>